:root {
  --main: 100vh - 4rem - 28px - 30px;
}

.main {
  height: calc((var(--main)));
}

.card-panel {
  height: calc((var(--main) - 69px) / 3);
  opacity: 0.2;
}

.active {
  opacity: 1 !important;
}

.inactive {
  opacity: 0.2 !important;
}